@import "../../../../scss/_colors.scss";
@import "../../../../scss/_fonts.scss";

.task_board_gallery {
  border-top: 1px solid $silver;

  &__title {
    font-family: $heebo;
    font-size: 17px;
    color: $sidebar-bg;
    letter-spacing: 0;
    line-height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
  }

  &__preview {
    width: 64px;
    height: 64px;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 18px;
  }
}
