.settings_button {
  font-size: 1px;
  margin-right: 20px;
  cursor: pointer;

  &--xs-hidden {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &--xs-visible {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
