@import "../../../../scss/_colors.scss";
@import "../../../../scss/_fonts.scss";

.task_board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__header {
    font-family: $heebo;
    font-size: 34px;
    color: $sidebar-bg;
    letter-spacing: -0.5px;
    line-height: 44px;
    margin-top: 8px;
    margin-bottom: 8px;

    @media (max-width: 767px) {
      font-size: 23px;
      line-height: 26px;
      margin-bottom: 10px;
      margin-top: 14px;
    }
  }

  &__edit_round_button {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-left: 12px;
    cursor: pointer;

    @media (max-width: 767px) {
      display: none;
    }
  }

  &__description {
    font-family: $heebo;
    font-size: 17px;
    color: $gray-dark;
    letter-spacing: 0;
    line-height: 25px;
    max-height: 50px;
    overflow: hidden;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 15px;
      line-height: 22px;
      max-height: 66px;
      margin-bottom: 14px;
    }
  }

  &__employees {
    margin-bottom: 20px;
    display: flex;

    img {
      margin-right: 5px;
    }
  }

  &__employees_plus_button {
    background: $light-green;
    border: 1px solid $transparent-black;
    border-radius: 8px;
    font-family: $heebo;
    font-size: 13px;
    color: $white;
    letter-spacing: 0;
    line-height: 19px;
    width: 28px;
    height: 28px;
    font-style: normal;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
