.globe_button {
  font-size: 1px;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;

  &--xs-hidden {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &--xs-visible {
    @media (min-width: 768px) {
      display: none;
    }
  }

  &__red_marker {
    display: inline-block;
    font-style: normal;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #FF151F;
    position: absolute;
    top: -6px;
    right: -6px;
  }
}
