@import "../../../../scss/_colors.scss";
@import "../../../../scss/_fonts.scss";

.task_board_checklist {
  border-top: 1px solid $silver;

  &__title {
    font-family: $heebo;
    font-size: 17px;
    color: $sidebar-bg;
    letter-spacing: 0;
    line-height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}
