.reassign_button {
  font-size: 1px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin-top: -5px;

  &--xs-hidden {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &--xs-visible {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
