@import "../../../../scss/_colors.scss";
@import "../../../../scss/_fonts.scss";

.complete_button {
  cursor: pointer;
  display: inline-flex;
  position: relative;
  width: 143px;
  height: 42px;
  background: $light-green;
  border: 1px solid $transparent-black;
  border-radius: 4px;
  font-family: $heebo-md;
  font-size: 15px;
  color: $white;
  letter-spacing: 0;
  justify-content: center;
  align-items: center;

  &:hover {
    @media (min-width: 768px) {
      background: $dark-green;
    }
  }

  &--xs-hidden {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &--xs-visible {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
