.user_picture {
  width: 28px;
  height: 28px;
  border-radius: 8px;

  &--button {
    cursor: pointer;
  }

  &--xs-hidden {
    @media (max-width: 767px) {
      display: none;
    }
  }

  &--xs-visible {
    @media (min-width: 768px) {
      display: none;
    }
  }
}
