// primary colors
$white: #ffffff;
$black: #000000;
$content-bg: #ecf5fd;
$topbar-bg: #0079c4;
$sidebar-bg: #2C4059;
$white-gray: #FBFCFD;
$gray-light: rgba(183, 210, 229, 0.80);
$gray-blue: #8DABC4;
$gray-shadow: #7E95A8;
$gray-blue-light: rgba(185, 216, 254, 0.12);
$purple: #AB7DF6;
$light-green: #4ECE3D;

$error: #ee4242;

// other colors
$concrete: #f2f2f2;
$alabaster: #f8f8f8;
$seashell: #f1f1f1;
$gallery: #dddddd;
$mercury: #E5E5E5;
$alto: #d8d8d8;
$dusty-gray: #999999;
$dove-gray: #666666;
$error-red: #ff0000;
$mine-shaft: #333333;
$silver: #cccccc;
$taupe-gray: #888888;
$light-green: #22BA65;
$pink: #EC286B;
$yellow: #f9f1e6;
