// primary colors
$white: #ffffff;
$black: #000000;
$bg-color: #ecf5fd;
$main_color1: #0079c4;
$main_color2: #2C4059;
$error: #ee4242;

// other colors
$concrete: #f2f2f2;
$alabaster: #f8f8f8;
$seashell: #f1f1f1;
$gallery: #dddddd;
$mercury: #E5E5E5;
$alto: #d8d8d8;
$dusty-gray: #999999;
$dove-gray: #666666;
$error-red: #ff0000;
$mine-shaft: #333333;
$silver: #cccccc;
$taupe-gray: #888888;
$light-green: #22BA65;
$pink: #EC286B;
$yellow: #f9f1e6;
